<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <style>
        table,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            font-size: 10pt;
            text-align: center;
        }
        table {
            border-top: none;
            border-left: none;
        }
    </style>
</head>
<body>
<div style="font-size: 20pt; font-weight: bold; text-align: center">
    입 학 동 의 서
</div>
<table style="width: 100%; border-bottom: none">
    <tr style="height: 30px">
        <td
                colspan="8"
                style="
            width: 46.7%;
            font-weight: bold;
            border: none;
            text-align: left;
          "
                th:text="${entranceYear} + '학년도 신입생 입학전형'"
        >
            2021학년도 신입생 입학전형
        </td>
        <td
                colspan="2"
                style="
            width: 7.35%;
            text-align: center;
            background-color: #f2f2f2;
            border-bottom: none;
          "
        >
            수험번호
        </td>
        <td
                style="width: 12.85%; border-bottom: none"
                th:text="${receiptCode}"
        ></td>
    </tr>
</table>
<table style="height: 115px; width: 100%">
    <tr style="height: 30px">
        <td
                rowspan="5"
                style="
            height: 115px;
            width: 5.84%;
            line-height: 1px;
            text-align: center;
            background-color: #f2f2f2;
          "
        >
            <p>인</p>
            <p>적</p>
            <p>사</p>
            <p>항</p>
        </td>
        <td
                rowspan="3"
                style="
            height: 69px;
            width: 5.84%;
            line-height: 1px;
            text-align: center;
            background-color: #f2f2f2;
          "
        >
            <p>지</p>
            <p>원</p>
            <p>자</p>
        </td>
        <td
                style="
            height: 30px;
            width: 5.84%;
            text-align: center;
            background-color: #f2f2f2;
          "
        >
            성 명
        </td>
        <td colspan="3" style="width: 11.67%" th:text="${userName}"></td>
        <td style="width: 5.84%; text-align: center; background-color: #f2f2f2">
            성별
        </td>
        <td colspan="2" style="width: 11.67%" th:text="${gender}"></td>
        <td
                colspan="1"
                style="width: 8.65%; background-color: #f2f2f2; text-align: center"
        >
            생년월일
        </td>
        <td colspan="2" style="width: 15.14%" th:text="${birthday}"></td>
    </tr>
    <tr style="height: 30px">
        <td
                style="
            height: 30px;
            width: 5.84%;
            text-align: center;
            background-color: #f2f2f2;
          "
        >
            주 소
        </td>
        <td
                colspan="9"
                style="width: 52.97%"
                th:text="|${address} + ' ' + ${detailAddress}|"
        ></td>
    </tr>
    <tr style="height: 30px">
        <td
                style="
            height: 30px;
            width: 5.84%;
            text-align: center;
            background-color: #f2f2f2;
            padding: 0px;
          "
        >
            연락처
        </td>
        <td
                style="
            width: 5.84%;
            text-align: center;
            background-color: #f2f2f2;
            padding: 0px;
          "
        >
            집전화
        </td>
        <td colspan="3" style="width: 17.51%" th:text="${homeTel}"></td>
        <td
                colspan="2"
                style="
            width: 10.16%;
            background-color: #f2f2f2;
            text-align: center;
            padding: 0px;
          "
        >
            핸드폰
        </td>
        <td
                colspan="3"
                style="width: 19.46%; padding: 0px"
                th:text="${applicantTel}"
        ></td>
    </tr>
    <tr style="height: 30px">
        <td
                rowspan="2"
                style="
            height: 46px;
            width: 5.84%;
            line-height: 1px;
            text-align: center;
            background-color: #f2f2f2;
          "
        >
            <p>보</p>
            <p>호</p>
            <p>자</p>
        </td>
        <td
                style="
            height: 30px;
            width: 5.84%;
            text-align: center;
            background-color: #f2f2f2;
          "
        >
            성 명
        </td>
        <td colspan="3" style="width: 11.67%" th:text="${parentName}"></td>
        <td
                colspan="3"
                style="width: 21.83%; text-align: center; background-color: #f2f2f2"
        >
            지원자와의 관계
        </td>
        <td colspan="3" style="width: 19.46%"></td>
    </tr>
    <tr style="height: 30px">
        <td
                style="
            height: 30px;
            width: 5.84%;
            text-align: center;
            background-color: #f2f2f2;
            padding: 0px;
          "
        >
            연락처
        </td>
        <td
                style="
            width: 5.84%;
            text-align: center;
            background-color: #f2f2f2;
            padding: 0px;
          "
        >
            집전화
        </td>
        <td
                colspan="3"
                style="width: 17.51%; padding: 0px"
                th:text="${homeTel}"
        ></td>
        <td
                colspan="2"
                style="
            width: 10.16%;
            background-color: #f2f2f2;
            text-align: center;
            padding: 0px;
          "
        >
            핸드폰
        </td>
        <td
                colspan="3"
                style="width: 19.46%; padding: 0px"
                th:text="${parentTel}"
        ></td>
    </tr>
</table>
<div style="height: 620px; border: 1px solid black; margin: 30px 0px">
    <div style="width: 85.48%; padding: 15px; margin: 0 auto">
        <p
                style="
            font-size: 11pt;
            line-height: 15px;
            text-align: right;
            margin: 40px 0 0 0px;
          "
                th:text="'위 지원자는 ' + ${entranceYear} + '학년도 대덕소프트웨어마이스터고등학교 신입생'
            '입학전형에 합격하여, 귀교'"
        >
            위 지원자는 2021학년도 대덕소프트웨어마이스터고등학교 신입생
            입학전형에 합격하여, 귀교
        </p>
        <p style="font-size: 11pt; line-height: 15px; text-align: right">
            입학생으로서의 긍지와 자부심을 가지고 성실히 학교생활에 임하고 학교
            규칙을 준수할 것에 동의하며,
        </p>
        <p style="font-size: 11pt; line-height: 15px">
            보호자 연서로 입학 동의서를 제출합니다.
        </p>
        <div>
            <p style="font-weight: bold; margin: 0; margin-top: 40px">
                ❖ 개인정보 수집·이용 동의
            </p>
            <table style="margin-top: 20px; margin-bottom: 20px">
                <tr style="height: 16px">
                    <td
                            style="
                  width: 224px;
                  text-align: center;
                  background-color: #f2f2f2;
                "
                    >
                        항 목
                    </td>
                    <td
                            style="
                  width: 224px;
                  text-align: center;
                  background-color: #f2f2f2;
                "
                    >
                        수집목적
                    </td>
                    <td
                            style="
                  width: 224px;
                  text-align: center;
                  background-color: #f2f2f2;
                "
                    >
                        보유기간
                    </td>
                </tr>
                <tr style="height: 52px">
                    <td style="text-align: center">
                        <p style="height: 4px; margin: 0">학생(성명, 성별, 생년월일,</p>
                        <p style="height: 4px">주소, 연락처)</p>
                        <p style="margin: 0">학부모(성명, 연락처)</p>
                    </td>
                    <td style="text-align: center">입학동의서</td>
                    <td style="font-weight: bold; text-align: center">1년</td>
                </tr>
            </table>
            <p style="font-size: 10pt; margin: 0 0 20px">
                ※ 개인정보 수집·이용에 대한 동의를 거부할 권리가 있습니다. 그러나
                동의를 거부할 경우 최종 입학에 제한을 받을 수 있습니다.
            </p>
        </div>
        <div>
            <table>
                <tr style="height: 18px">
                    <td
                            style="
                  font-size: 12pt;
                  font-weight: bold;
                  width: 336px;
                  text-align: center;
                  background-color: #f2f2f2;
                "
                    >
                        개인정보 수집·이용 동의
                    </td>
                    <td style="text-align: center; width: 336px">
                        <span style="font-size: 12pt">□ 예</span>
                        <span
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                        >
                        <span style="font-size: 12pt">□ 아니오</span>
                    </td>
                </tr>
            </table>
            <p
                    style="text-align: center; margin: 20px 0 40px 0; line-height: 5px"
            >
                <span>2020년</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;월</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;일</span>
            </p>
            <table
                    style="
              border: none;
              float: right;
              width: 40%;
              font-size: 12px;
              text-align: center;
              margin-bottom: 50px;
            "
            >
                <tr>
                    <td style="width: 15%; border: none">지원자 성명</td>
                    <td style="width: 15%; border: none" th:text="${userName}"></td>
                    <td style="width: 10%; border: none">(서명)</td>
                </tr>
                <tr>
                    <td style="width: 15%; border: none">보호자 성명</td>
                    <td style="width: 15%; border: none" th:text="${parentName}"></td>
                    <td style="width: 10%; border: none">(서명)</td>
                </tr>
            </table>
            <br /><br /><br />
        </div>
    </div>
    <p
            style="
          font-size: 17pt;
          font-weight: bold;
          line-height: 15px;
          margin-left: 20px;
        "
    >
        대덕소프트웨어마이스터고등학교장 귀하
    </p>
</div>
<div
        style="width: 100%; font-size: 10pt; line-height: 7px; margin-top: 40px"
>
    <p>
        <span style="font-weight: bold; margin-right: 10px; margin: 0px"
        >제출 방법</span
        >
        입학 동의서 작성 후 서명하여
        <span style="font-weight: bold">인편 또는 등기우편</span>으로 제출
    </p>
    <p style="margin-left: 75px">
        - 직접 제출 시 : 대덕소프트웨어마이스터고 등록 접수처
    </p>
    <p style="margin-left: 75px">
        - 우편 제출 시 : (우) 34111 대전광역시 유성구 가정북로 76(장동 23-9)
    </p>
    <p style="margin-left: 175px; line-height: 1px">
        대덕소프트웨어마이스터고 교무부
    </p>
</div>
</body>
</html>